<h1>Employee Profile</h1>
<a class="btn btn-primary" href="/employee/logout">LogOut</a>

<div id="employeeData">
    <h3 class = "employeeName">{{employee.firstname}} {{employee.lastname}} </h3>
     <p>{{employee.username}}</p>
     <p>{{employee.email}}</p>
    <p>{{employee.gender}}</p>
    <p>{{employee.city}},{{employee.country}}</p>
</div>
<a href="/review/addReview" class="btn btn-primary">add review</a>
{{#if reviews}}
<div class="row">
    {{#each reviews}}
    <div class="card col-12">

    <h5>{{this.review.reviewHeading}}</h5>
    <p>{{this.review.description}}</p>
    <p class = "text-muted">{{this.review.datePublished}}</p>
    </div>
    {{/each}}
</div>
 {{else}}
 <h5>No review Added</h5>
   {{/if}}
    
 
    
 